.footer-container {
    background-color: #7a1122; /* Mudou para Grená! */
    color: #ffffff;
    text-align: center;
    padding: 20px 0;
    margin-top: 40px;
  }
  
  .redes-sociais span {
    margin: 0 15px;
    font-weight: bold;
    cursor: pointer;
    transition: color 0.3s;
  }
  
  .redes-sociais span:hover {
    color: #005a3b; /* Fica verde ao passar o mouse */
  }