* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f4f4f9; /* Fundo cinza bem clarinho */
  color: #333333; /* Texto escuro para dar leitura */
  font-family: Arial, Helvetica, sans-serif;
}

/* Essa classe vai dar um respiro (margem) para o texto não colar nas bordas */
.page-container {
  padding: 40px;
  min-height: 70vh; /* Empurra o rodapé lá para baixo */
}

ul {
  margin-left: 20px;
  margin-top: 10px;
}

p {
  margin-bottom: 15px;
  line-height: 1.6;
}
