* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f4f4f9; 
  color: #333333; 
  font-family: Arial, Helvetica, sans-serif;
}


.page-container {
  padding: 40px;
  min-height: 70vh; 
}

ul {
  margin-left: 20px;
  margin-top: 10px;
}

p {
  margin-bottom: 15px;
  line-height: 1.6;
}
